.App {
  background: #7474bf;
  background: -webkit-gradient(linear, left top, right top, from(#348ac7), to(#7474bf));
  background: linear-gradient(to right, #348ac7, #7474bf);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  border-radius: 10px;
  padding: 1em;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8em 2em 2em 2em;
  width: 30%;
  margin-top: 8em;
}

.form-container label {
  margin-bottom: 1em;
}

.form-container input {
  width: 100%;
  height: 2.5em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #b4b0b0;
  padding: 1em;
  font-size: 1em;
}

.form-container input:active {
  border-color: #2eeef5;
}

.form-container input:focus {
  border-color: #2eeef5;
}

.form-container span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'expirationDate expirationDate cvv';
  grid-gap: 2em;
}

.expiration-date-conatiner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: expirationDate;
}

.expiration-date-conatiner select {
  width: 45%;
  height: 2.5em;
  border-radius: 5px;
  position: relative;
  outline: none;
  border: 1px solid #b4b0b0;
  padding: 0.5em;
  font-size: 1em;
}

.expiration-date-conatiner select:active {
  border-color: #2eeef5;
}

.expiration-date-conatiner select:focus {
  border-color: #2eeef5;
}

.cvv-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cvv;
}

.btn-active {
  height: 2em;
  background: #3a4cec;
  border: 1px solid #3a4cec;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #fff;
}

.card-container {
  position: absolute;
  z-index: 3;
  top: -25%;
  left: 14%;
  width: 70%;
}

.card-logo {
  height: 50px;
  float: right;
}

.chip {
  height: 50px;
}

.card-number {
  color: #fff;
  width: 100%;
  font-size: 1.7em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-holder-name {
  color: #fff;
  font-weight: 300;
  margin-right: 1em;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.card-holder-name p {
  font-size: 1.5em;
  font-weight: 400;
}

.expiry {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expiry p {
  font-size: 1.3em;
  font-weight: 400;
}

.name-expiry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  margin-bottom: 1em;
}

.balck-strip {
  background: #000;
  height: 50px;
  margin: 0px -5.5%;
}

.cvv-label {
  float: right;
  color: #fff;
  margin-bottom: 0em !important;
  padding-right: 12;
}

.card-logo-alt {
  height: 30px;
  float: right;
  opacity: 0.8;
}

.active {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}
/*# sourceMappingURL=App.css.map */